.africa-city-list, .cities, .swiss-city-list, .iceland-list {
	display: flex;
	flex-basis: auto;
	padding: auto;
	margin:auto;
	flex-wrap:wrap;
  justify-content: space-evenly;
}

.city-card {

	flex-basis: 33%;
}