
.navbar {
	background-color: #79171a;
}

.nav-logo {
	width: 70px;
}

.nav-link {
	color: #fff;
}


.landmark-image {
	height: auto;
	width: 100%;	
}


.container{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.africa-city-list {
	display: flex;
	flex-basis: auto;
	justify-content: center;
	padding: 10px;
	margin:auto;
}

.celeb-card {
	border: 1px solid black;
	margin:5px;
	padding: 5px;
}


.africa-celeb-list {
	display: flex;
}


