@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.navbar {
	background-color: #79171a;
}

.nav-logo {
	width: 70px;
}

.nav-link {
	color: #fff;
}

.landmark-image {
	height: auto;
	width: 100%;
}