
.navbar {
	background-color: #79171a;
}

.nav-logo {
	width: 70px;
}

.nav-link {
	color: #fff;
}


.landmark-image {
	height: auto;
	width: 100%;	
}



.africa-city-list {
	display: flex;
	flex-basis: auto;
	justify-content: center;
	padding: auto;
	margin:auto;
	flex-wrap:wrap;
}

.city-card {

	flex-basis: 33%;
}




.africa-celeb-list {
	display: flex;
}


h1 {
	width: 100%;
	flex-basis: 100%;
	text-align: center;
}